<label class="assets-filter__checkbox">
    <input type="checkbox" class="checkbox-input" value={{@value}} {{on 'change' @onChange}} checked={{this.isChecked}}>
    <span class="checkbox-icon">
      {{svg-jar "#checkbox-active" class="checkbox-icon--active" width="16px" height="16px"}}
    </span>
    <Assets::TypeView @assetTypeId={{@value}}>
      {{@key}}
    </Assets::TypeView>
</label>